﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Data_set";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}



<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p>
        <b>@localizer["BText1"]</b>
    </p>
    <p>
        @localizer["Text1"]
    </p>
    <p>
        @localizer["Text1.1"]
    </p>
    <p>
        <b>
            @localizer["BText2"]
        </b>
    </p>
    <p>
        @localizer["Text2"]
    </p>
    <p>
        @localizer["Text2.1"]
    </p>
    <p>
        @localizer["Text2.2"] <b>@localizer["BText3"]</b> @localizer["Text2.3"]
    </p>
    <p>
        @localizer["Text3"]
    </p>
    <p>
        @localizer["Text4"]
    </p>
    <p>
        <table class="tag-table">
            <tr>
                <th>@localizer["TagName"]</th>
                <th>@localizer["Fps"]</th>
            </tr>
            <tr>
                <td>Body</td>
                <td>9967</td>
            </tr>
            <tr>
                <td>Digit</td>
                <td>843</td>
            </tr>
            <tr>
                <td>Effect</td>
                <td>7789</td>
            </tr>
            <tr>
                <td>Element (air)</td>
                <td>3229</td>
            </tr>
            <tr>
                <td>Element (earth)</td>
                <td>5472</td>
            </tr>
            <tr>
                <td>Element (fire)</td>
                <td>811</td>
            </tr>
            <tr>
                <td>Element (water)</td>
                <td>1687</td>
            </tr>
            <tr>
                <td>Face</td>
                <td>10973</td>
            </tr>
            <tr>
                <td>Image processing keying</td>
                <td>3595</td>
            </tr>
            <tr>
                <td>Interior</td>
                <td>11082</td>
            </tr>
        </table>

        <table class="tag-table">
            <tr>
                <th>@localizer["TagName"]</th>
                <th>@localizer["Fps"]</th>
            </tr>
            <tr>
                <td>Landscape</td>
                <td>5098</td>
            </tr>
            <tr>
                <td>Letter</td>
                <td>2866</td>
            </tr>
            <tr>
                <td>Machine (car)</td>
                <td>490</td>
            </tr>
            <tr>
                <td>Machine (TVset)</td>
                <td>2296</td>
            </tr>
            <tr>
                <td>Machine vision fisheye</td>
                <td>1931</td>
            </tr>
            <tr>
                <td>RuttEtra video synthesizer</td>
                <td>4886</td>
            </tr>
            <tr>
                <td>Steina</td>
                <td>3913</td>
            </tr>
            <tr>
                <td>Stripes</td>
                <td>2085</td>
            </tr>
            <tr>
                <td>Violin</td>
                <td>815</td>
            </tr>
            <tr>
                <td>Woody</td>
                <td>3657</td>
            </tr>
        </table>
    </p>
    <b>
        @localizer["Text5"]
    </b>
    <p>
        @localizer["Text6"]
    </p>
    <p>
        @localizer["Text6"]
    </p>
    <p>
        @localizer["Text7"]
    </p>
    <p>
        <table class="tag-table">
            <tr>
                <th>@localizer["TagName"]</th>
                <th>@localizer["Time"]</th>
                <th>@localizer["ExternalDatabase"]</th>
            </tr>
            <tr>
                <td>Music (electronic)</td>
                <td>3:10:38</td>
                <td>Ne</td>
            </tr>
            <tr>
                <td>Noise</td>
                <td>2:57:12</td>
                <td>Ne</td>
            </tr>
            <tr>
                <td>Speech</td>
                <td>2:37:27</td>
                <td>Ne</td>
            </tr>
            <tr>
                <td>Music (acoustic)</td>
                <td>0:40:03</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Noise (air)</td>
                <td>0:29:44</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Music (vocal)</td>
                <td>0:19:56</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Noise (water)</td>
                <td>0:14:07</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Music (violin)</td>
                <td>0:11:46</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Voice</td>
                <td>0:10:22</td>
                <td>---</td>
            </tr>
            <tr>
                <td>Noise (car)</td>
                <td>0:09:55</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Noise (clapping)</td>
                <td>0:06:10</td>
                <td>---</td>
            </tr>
            <tr>
                <td>Noise (fire)</td>
                <td>0:03:49</td>
                <td>Ano</td>
            </tr>
            <tr>
                <td>Noise (airplane)</td>
                <td>0:01:05</td>
                <td>---</td>
            </tr>

        </table>
    </p>
    <p>
        @localizer["Text8"]
    </p>
</div>
