﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "IntelligentAtlas";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}


<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p>
        @localizer["Text1"] <a href="/MachineVision/MachineVision">@localizer["IntelligentAtlas"]</a> @localizer["Text2"]
    </p>
    <p>
        @localizer["Text3"] <a href="https://openai.com/blog/introducing-activation-atlases">Activation Atlas</a>
    </p>
</div>