﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Introductin";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}

<div class="website-text">
        <h1>@localizer["Title"]</h1>

        <p>
            @localizer["Text1"] <a href="dataset">@localizer["Href"]</a>@localizer["Text2"]
        </p>
</div>

