﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Live_Archive";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}

<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p>
        @localizer["Text1"] <a href="/Video/DbView">@localizer["LiveArchive"]</a> @localizer["Text2"] <a href="findings">@localizer["Findings"]</a> @localizer["Text3"]
    </p>
</div>
