﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Theory";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}

<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p>
        @localizer["Text1"]
    </p>

</div>

