﻿
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
@{
    ViewData["Title"] = "DeleteVideo";
    Layout = "~/Views/Shared/Video.cshtml";
}
@model VideoPresentation.Entities.Video

@using (Html.BeginForm("DeleteVideo", "Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(x => x.ID)

    @if (User.IsInRole("Admin"))
    {
        <h1>@localizer["Text"]</h1>
        <input type="submit" value="@localizer["Yes"]" class="button-action button-action-delete" />
        <a href="/Video/DbView" class="button-action button-action-edit">@localizer["No"]</a>
    }



}



