﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

@model VideoPresentation.Models.UploadModel


@using (Html.BeginForm("Edit", "Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table class="upload-box">

    @Html.HiddenFor(x => x.ID)
    <tr>
        <td>
            @localizer["Title"]
        </td>
        <td>
            @Html.TextBoxFor(m => m.VideoTitle)
        </td>

    </tr>

    <tr>
            <td>
                @localizer["Author"]
            </td>

            <td>
                @Html.DropDownListFor(m => m.SelectedAuthor, new SelectList(Model.Authors, "AuthId", "Name"))
            </td>

        </tr>


        <tr>
            <td>
                @localizer["Autor"]
            </td>

            <td>
                @Html.DropDownListFor(x => x.SelectedCoAuthor, new SelectList(Model.Authors, "AuthId", "Name"))
            </td>

        </tr>

    <tr>
        <td>
            @localizer["CoAutor"] 
        </td>

        <td>
            @Html.TextAreaFor(m => m.AdditionalAuthor, new { @class = "text-area-upload" })
        </td>

    </tr>


    <tr>
        <td>
            @localizer["VideoComment"] @localizer["cs"]
        </td>

        <td>
            @Html.TextAreaFor(m => m.VideoCommentCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["VideoComment"] @localizer["en"]
        </td>

        <td>
            @Html.TextAreaFor(m => m.VideoCommentEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["AuthorComment"] @localizer["cs"]
        </td>

        <td>
            @Html.TextAreaFor(m => m.AuthorCommentCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["AuthorComment"] @localizer["en"]
        </td>

        <td>
            @Html.TextAreaFor(m => m.AuthorCommentEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Year"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.Year, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["AdditionalYear"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.AdditionalYear, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Series"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.Series, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Prequel"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.PrequelCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Prequel"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.PrequelEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Citation"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.CitationCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Citation"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.CitationEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["ArtisticMedium"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.ArtisticMedium, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["TechnicalMedium"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.TechnicalMedium, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Performer"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.PerformerCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Performer"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.PerformerEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["VoicePerformer"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.VoicePerformerCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["VoicePerformer"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.VoicePerformerEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["ToolName"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.ToolName, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["ToolAuthor"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.ToolAuthor, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["ToolInfo"]
        </td>

        <td>
            @Html.TextAreaFor(m => m.ToolInfo, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Annotation"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.AnnotationCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Annotation"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.AnnotationEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["AnnotationReference"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.AnnotationReferenceCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["AnnotationReference"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.AnnotationReferenceEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Sources"] @localizer["cs"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.SourcesCs, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Sources"] @localizer["en"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.SourcesEn, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["MuniSource"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.MuniSource, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["VideoLength"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.VideoLength, new { @class = "text-area-upload" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["AdditionalVideoLength"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.AdditionalVideoLength, new { @class = "text-area-upload" })
        </td>

    </tr>



    <tr>
        <td colspan="2" style="text-align:center">
            <input type="submit" value="@localizer["Edit"]" class="button-action button-action-submit" />
        </td>
    </tr>


</table>
}


