﻿
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}



@model VideoPresentation.Models.UploadModel



<!DOCTYPE html>
<html>
<body>

    <form class="chapter-pictures">
        <div class="video-results-box">
            <video id="loadedVideo" controls>
                <source src="@Url.Content("~/upload/" + Model.VideoName)" />
            </video>
            <div id="tagText">
            </div>
        </div>

       

        <div class="video-results-box-chapters">
            <button onclick="setCurTime(1)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 1</p>
            </button>
            <button onclick="setCurTime(2)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 2</p>
            </button>
            <button onclick="setCurTime(3)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 3</p>
            </button>
            <button onclick="setCurTime(4)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 4</p>
            </button>
            <button onclick="setCurTime(5)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 5</p>
            </button>
            <button onclick="setCurTime(6)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 6</p>
            </button>
            <button onclick="setCurTime(7)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 7</p>
            </button>
            <button onclick="setCurTime(8)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 8</p>
            </button>
            <button onclick="setCurTime(9)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 9</p>
            </button>
            <button onclick="setCurTime(10)" type="button">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + Model.VideoName)" />
                </video><p>@localizer["Chapter"] 10</p>
            </button>
        </div>
    </form>


    <script src="~/js/jquery.js"></script>

    <script>

        var tagsJson;

        $(document).ready(function () {
            $.ajax({
                url: "/Video/GetJsonTags/?id=@Model.ID", success: function (result) {
                    tagsJson = result;
                    window.setInterval(function () {
                        console.clear();
                        let tagHtml = "";
                        let currTime = Math.trunc(document.getElementById("loadedVideo").currentTime);
                        for (let i = 0; i < tagsJson.length; i++) {
                            let tagTime = Math.trunc(tagsJson[i].time / 1000);
                            if (tagTime == currTime) {
                                if (tagsJson[i].prediction * 100 > 50) {
                                    tagHtml = tagHtml + " " + tagsJson[i].tag.name + " " + Math.trunc(tagsJson[i].prediction*100) + "%<br/>";
                                    console.log(tagsJson[i].tag.name);
                                    console.log(tagsJson[i].prediction);
                                }
                            }
                        }

                        $("#tagText").html(tagHtml);
                    }, 1000);
                }
            });

        });

        function setCurTime(a) {
            var vid = document.getElementById("loadedVideo");
            var x = document.getElementById("loadedVideo").duration;
            vid.currentTime = x / 11 * a;
        }

        var vid = document.getElementById("loadedVideo");
        vid.onloadedmetadata = function myFunction() {
            var x, i;
            var d = document.getElementById("loadedVideo").duration;
            x = document.querySelectorAll(".video-time");
            for (i = 0; i < x.length; i++) {
                var y = (d / 11) * (i + 1);
                x[i].currentTime = y;
            }
        }

    </script>





    <table class="data-results">
        @if (!string.IsNullOrWhiteSpace(@Model.VideoName))
        {
            <tr>
                <td style="width:150px">
                    @localizer["Title"]
                </td>
                <td>
                    @Model.VideoName;
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AutorName))
        {
            <tr>
                <td>
                    @localizer["Author"]
                </td>
                <td>
                    @Model.AutorName,
                    @if (!string.IsNullOrWhiteSpace(@Model.CoAutorName))
                    {@Model.CoAutorName}

                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.CoAutorName))
        {
            <tr>
                <td>
                    @localizer["Author"]
                </td>
                <td>
                    @Model.CoAutorName
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AdditionalAuthor))
        {
            <tr>
                <td>
                    @localizer["CoAutor"]
                </td>
                <td>
                    @Model.AdditionalAuthor
                </td>
            </tr>
        }
        @if (Model.Year != -1)
        {
            <tr>
                <td>
                    @localizer["Year"]
                </td>
                <td>
                    @Model.Year
                </td>
            </tr>
        }
        @if (Model.AdditionalYear != -1)
        {
            <tr>
                <td>
                    @localizer["AdditionalYear"]
                </td>
                <td>
                    @Model.Series
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.VideoCommentCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["VideoComment"]
                </td>
                <td>
                    @Model.VideoCommentCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.VideoCommentEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["VideoComment"]
                </td>
                <td>
                    @Model.VideoCommentCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AuthorCommentCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["AuthorComment"]
                </td>
                <td>
                    @Model.AuthorCommentCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AuthorCommentEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["AuthorComment"]
                </td>
                <td>
                    @Model.AuthorCommentEn
                </td>
            </tr>
        }

        @if (!string.IsNullOrWhiteSpace(@Model.Series))
        {
            <tr>
                <td>
                    @localizer["Series"]
                </td>
                <td>
                    @Model.Series
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.PrequelCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["Prequel"]
                </td>
                <td>
                    @Model.CitationCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.PrequelEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["Prequel"]
                </td>
                <td>
                    @Model.CitationEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.CitationCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["Citation"]
                </td>
                <td>
                    @Model.CitationCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.CitationEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["Citation"]
                </td>
                <td>
                    @Model.CitationEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.ArtisticMedium))
        {
            <tr>
                <td>
                    @localizer["ArtisticMedium"]
                </td>
                <td>
                    @Model.ArtisticMedium
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.TechnicalMedium))
        {
            <tr>
                <td>
                    @localizer["TechnicalMedium"]
                </td>
                <td>
                    @Model.TechnicalMedium
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.PerformerCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["Performer"]
                </td>
                <td>
                    @Model.PerformerCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.PerformerEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["Performer"]
                </td>
                <td>
                    @Model.PerformerEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.VoicePerformerCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["VoicePerformer"]
                </td>
                <td>
                    @Model.VoicePerformerCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.VoicePerformerEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["VoicePerformer"]
                </td>
                <td>
                    @Model.VoicePerformerEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.ToolName))
        {
            <tr>
                <td>
                    @localizer["ToolName"]
                </td>
                <td>
                    @Model.ToolName
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.ToolAuthor))
        {
            <tr>
                <td>
                    @localizer["ToolAuthor"]
                </td>
                <td>
                    @Model.ToolAuthor
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.ToolInfo))
        {
            <tr>
                <td>
                    @localizer["ToolInfo"]
                </td>
                <td>
                    @Model.ToolInfo
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AnnotationCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["Annotation"]
                </td>
                <td>
                    @Model.AnnotationCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AnnotationEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["Annotation"]
                </td>
                <td>
                    @Model.AnnotationEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AnnotationReferenceCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["AnnotationReference"]
                </td>
                <td>
                    @Model.AnnotationReferenceCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.AnnotationReferenceEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["AnnotationReference"]
                </td>
                <td>
                    @Model.AnnotationReferenceEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.SourcesCs) && (@localizer["Language"].Value == "cs"))
        {
            <tr>
                <td>
                    @localizer["Sources"]
                </td>
                <td>
                    @Model.SourcesCs
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.SourcesEn) && (@localizer["Language"].Value == "en"))
        {
            <tr>
                <td>
                    @localizer["Sources"]
                </td>
                <td>
                    @Model.SourcesEn
                </td>
            </tr>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.MuniSource))
        {
            <tr>
                <td>
                    @localizer["MuniSource"]
                </td>
                <td>
                    @Model.MuniSource
                </td>
            </tr>
        }
        @if (Model.VideoLength != -1)
        {
            <tr>
                <td>
                    @localizer["VideoLength"]
                </td>
                <td>
                    @Model.VideoLength
                </td>
            </tr>
        }
        @if (Model.AdditionalVideoLength != -1)
        {
            <tr>
                <td>
                    @localizer["AdditionalVideoLength"]
                </td>
                <td>
                    @Model.AdditionalVideoLength
                </td>
            </tr>
        }
    </table>

</body>
</html>