﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/Video.cshtml";
}
@model List<VideoPresentation.Entities.Video>


@if (Model.Count() == 0)
{
    <tr>
        <H1 style="color: #ff7000;text-align: center">
            @localizer["NoMatch"]
        </H1>
    </tr>
}

@foreach (VideoPresentation.Entities.Video v in Model)
{

    <script>
        var vid = document.getElementById("loadedVideo");
        vid.onloadedmetadata = function myFunction() {
            var x, i;
            x = document.querySelectorAll(".video-time");
            for (i = 0; i < x.length; i++) {
                x[i].currentTime = 10;
            }
        }
    </script>
    <div class="resultsbox">
        <div class="results">
            <div class="video-square">
                <video class="video-time" id="loadedVideo">
                    <source src="@Url.Content("~/upload/" + v.VideoName)" />
                </video>
            </div>

            <form style="text-align:center; margin-top:25px">
                @v.VideoTitle
                @if (v.Year != -1)
                {
                    @v.Year
                }
                <br />

                @if (User.IsInRole("Admin"))
                {
                    <a href="/Video/DeleteVideo/?id=@v.ID" class="button-action button-action-delete">@localizer["Delete"]</a>
                    <a href="/Video/Edit/?id=@v.ID" class="button-action button-action-edit">@localizer["Edit"]</a>
                }
            </form>
        </div>
    </div>

}
