﻿
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/Video.cshtml";
}
@{int i = 0;}
@model List<UploadModel>

@foreach (UploadModel v in Model)
{


    if (i == 0)
    {
        <div class="tags-buttons">
            @foreach (VideoPresentation.Infrastructure.Database.VideoTags.TagWeight tag in v.TagWeights)
            {

                <div>
                    <button class="tag-button tag-button-action"><a href="/Video/TagsResults/?tagID=@tag.Tag.ID">@tag.Tag.Name</a></button>
                </div>

            }
        </div>
        i++;
    }

    <script>
        var vid = document.getElementById("loadedVideo");
        vid.onloadedmetadata = function myFunction() {
            var x, i;
            x = document.querySelectorAll(".video-time");
            for (i = 0; i < x.length; i++) {
                x[i].currentTime = 10;
            }
        }
    </script>


    <div class="resultsbox">
        <div class="results">
            <a href="/Video/Play?id=@v.ID">
                <div class="video-square">
                    <video class="video-time" id="loadedVideo">
                        <source src="@Url.Content("~/upload/" + v.VideoName)" />
                    </video>
                </div>
            </a>

            <div style="text-align:center; margin-top:25px">
                @v.VideoTitle
                @if (v.Year != -1)
                {
                    @v.Year
                }
            </div>
            <br />
            <br />
            Tagy
            @foreach (VideoPresentation.Infrastructure.Database.VideoTags.TagWeight tag in v.TagWeights)
            {
                @if (tag.Percentage != 0)
                {
                    <div tyle="text-align:left">@tag.Tag.Name: @tag.Percentage%</div>
                }

            }

            @if (User.IsInRole("Admin"))
            {
                <a href="/Video/DeleteVideo/?id=@v.ID" class="button-action button-action-delete">@localizer["Delete"]</a>
                <a href="/Video/Edit/?id=@v.ID" class="button-action button-action-edit">@localizer["Edit"]</a>
            }
            <br />
            <br />

        </div>
    </div>






}


