﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "AddAuthor";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

@model VideoPresentation.Entities.Author


@using (Html.BeginForm("AddNewAuthor", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="add-user-formular">
        
        <tr>
            <td>
                <h1>@localizer["AddAuthor"]</h1>
            </td>
        </tr>

        <tr>
            <td>
                @localizer["Name"]
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name, new { @class = "upload-input" })
            </td>

        </tr>


        <tr>
            <td>
                <input type="submit" value="@localizer["Add"]"class="button-action button-action-submit" />
            </td>
        </tr>




    </table>


}
