﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

@model VideoPresentation.Entities.User


@using (Html.BeginForm("AddNewUser", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table class="add-user-formular">
        <tr>
            <td>
                <h1>@localizer["AddUser"]</h1>
            </td>
        </tr>

        <tr>
            <td>
                @localizer["Name"]
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Password"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.Password, new { @class = "upload-input" })
            </td>

        </tr>


        <tr>
            <td>
                <input type="submit" value="@localizer["Add"]" class="button-action button-action-submit" />
            </td>
        </tr>




    </table>


}

