﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

@model List<VideoPresentation.Entities.Author>

<table class="user-table">

    <tr>

        <th>

            ID

        </th>

        <th>

            @localizer["Name"]

        </th>

        <th class="button">

        </th>

    </tr>
    @foreach (VideoPresentation.Entities.Author v in Model)
    {


        <tr>

            <td>

                @v.AuthId

            </td>

            <td>

                @v.Name

            </td>

            <td>
                <a href="/Login/RemoveAuthor/?id=@v.AuthId" class="button-action button-action-delete">@localizer["Delete"]</a>
                <a href="/Login/EditAuthor/?id=@v.AuthId" class="button-action button-action-edit">@localizer["Edit"]</a>
            </td>

        </tr>
    }

</table>






