﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
@model List<VideoPresentation.Entities.User>

<table class="user-table">

    <tr>

        <th>

            Id

        </th>

        <th>

            @localizer["Name"]

        </th>
        <th class="button">

        </th>

    </tr>
    @foreach (VideoPresentation.Entities.User v in Model)
    {


        <tr>

            <td>

                @v.ID

            </td>

            <td>

                @v.Name

            </td>
            
            <td>
                <a href="/Login/RemoveUser/?id=@v.ID" class="button-action button-action-delete">@localizer["Delete"]</a>
                <a href="/Login/EditUser/?id=@v.ID" class="button-action button-action-edit">@localizer["Edit"]</a>
            </td>

        </tr>
    }

</table>






