﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

@model VideoPresentation.Entities.Author


@using (Html.BeginForm("EditAuthor", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="add-user-formular">

        @Html.HiddenFor(x => x.AuthId)
        <tr>
            <td>
                @localizer["Name"]
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                <input type="submit" value="@localizer["Submit"]" class="button-action button-action-submit" />
            </td>
        </tr>
    </table>
}