﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

@model VideoPresentation.Entities.User


@using (Html.BeginForm("EditUser", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table>

    @Html.HiddenFor(x => x.ID)
    <tr>
        <td>
            @localizer["Name"]
        </td>
        <td>
            @Html.TextBoxFor(m => m.Name, new { @class = "upload-input" })
        </td>

    </tr>

    <tr>
        <td>
            @localizer["Password"]
        </td>

        <td>
            @Html.TextBoxFor(m => m.Password, new { @class = "upload-input" })
        </td>

    </tr>

    <tr>
        <td>
            <input type="submit" value="@localizer["Submit"]" class="button-action button-action-submit" />
        </td>
    </tr>
</table>
}