﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<h4>@ViewBag.Message</h4>
@if (User.IsInRole("Admin"))
{

    <h4>@ViewBag.Message</h4>
    <form class="login-formular">
        <h1>@localizer["Logged"]</h1>
    </form>

}
else
{

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <form asp-action="login" method="post" class="login-formular">
                    <h1>@localizer["Login"]</h1>
                    <label>@localizer["UserName"]</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="@localizer["UserName"]">
                    <label>@localizer["Password"]</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="@localizer["Password"]">
                    @TempData["LoginMessage"]<br />
                    <button type="submit" class="button-action button-action-submit">@localizer["Submit"]</button>
                </form>
            </div>
        </div>
    </div>
}





