﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Application_guarants";
    Layout = "~/Views/Shared/Credits_Layout.cshtml";
}

<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p style="text-align:center">
        @localizer["Text1"]
    </p>

    <table class="team-members">
        <tr>
            <td>
                Centrum umění nových médií – Vašulka Kitchen Brno
            </td>
            <td>
                Dům umění města Brna
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://vasulkakitchen.org/">www.vasulkakitchen.org</a>
            </td>
            <td>
                <a href="https://www.dum-umeni.cz/">www.dum-umeni.cz</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Pictures/VasulkaLogo.jpg" alt="vasulka" width="100" />
            </td>
            <td>
                <img src="~/Pictures/DumUmeni.png" alt="dumUmeni" width="150" />
            </td>
        </tr>
       
    </table>

</div>

