﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Press_contact_social_media";
    Layout = "~/Views/Shared/Credits_Layout.cshtml";
}

<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p>@localizer["ContactUs"]</p>
    <p>
        medialivearchive@phil.muni.cz
    </p>
    <p>
        <a href="https://www.instagram.com/">
            <img src="~/Pictures/Instagram.png" alt="VUT" width="30" />
        </a>
        <a href="https://www.facebook.com/">
            <img src="~/Pictures/Facebook.png" alt="VUT" width="30" />
        </a>
    </p>
</div>

