﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Team_members";
    Layout = "~/Views/Shared/Credits_Layout.cshtml";
}

<div class="website-text">
    <h1>@localizer["Title"]</h1>
   
    <table class="team-members">
        <tr>
            <td>
                Jana Horáková / vedení projektu
            </td>
            <td>
                RJiří Schimmel / vedení projektu
            </td>
        </tr>
        <tr>
            <td>
                Dušan Barok / web design
            </td>
            <td>
                Štěpán Miklánek / vývoj tagovací aplikace (video)
            </td>
        </tr>
        <tr>
            <td>
                Jozef Cseres / zpracování dat
            </td>
            <td>
                Pavel Sikora / vývoj tagovací aplikace (audio)
            </td>
        </tr>
        <tr>
            <td>
                Martin Flašar / zpracování dat
            </td>
            <td>
                Kamil Říha / Vedení projektu
            </td>
        </tr>
        <tr>
            <td>
                Petr Macek / zpracování dat
            </td>
            <td>
                Matúš Paulech / Vývoj webu
            </td>
        </tr>
        <tr>
            <td>
                Viktor Pantůček / zpracování dat
            </td>
            <td></td>
        </tr>
    </table>

    <p>
        @localizer["Text1"]
    </p>

    <p>
        <img src="~/Pictures/VUT_barevne_RGB_CZ.png" alt="VUT" width="150" />
        <img src="~/Pictures/muni-lg-rgb.png" alt="Muni" style="float:right"  width="150"/>
    </p>
        

    <p>
        @localizer["Text2"]
    </p>
    <p>
        <div class="website-pictures">
            <img src="~/Pictures/logo_TACR_zakl.png" width="100">
        </div>
    </p>
</div>

