﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
@{
    ViewData["Title"] = "About_Layout";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoPresentation</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="css-selectorbg">

    <div style="width:100%;text-align:center">

        <b>
            <nav class="menu1">
                <ul>
                    <li><a href="Introduction">@localizer["Introduction"]</a></li>                   
                    <li><a href="Live_archive">@localizer["LiveArchive"]</a></li>
                    <li><a href="IntelligentAtlas">@localizer["IntelligentAtlas"]</a></li>
                    <li><a href="dataset">Dataset</a></li>
                    <li><a href="findings">@localizer["Findings"]</a></li>
                    <li><a href="theory">@localizer["Theory"]</a></li>

                </ul>
            </nav>
        </b>
    </div>



    <div id="content">
        @RenderBody()
    </div>

    <div style="clear:both; height: 2em;"> </div>

</body>
@RenderSection("Scripts", required: false)
</html>