﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoPresentation</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="css-selectorbg">





    <div style="width:100%;text-align:center">

        <p>
            <span class="lg1">
                VASULKA LIVE ARCHIVE
                <!--Vasulka Live Archive-->
            </span>

        </p>
    </div>

    <b>
        <nav class="search-menu">
            <ul>
                <li>
                    @using (Html.BeginForm("SearchResults", "Video", FormMethod.Get))
                    {
                        @Html.TextBox("fileName", null, new { @class = "search-input" })
                        <input class="find-button find-button-action" type="submit" value="@localizer["Search"]" />
                    }
                </li>
                <li class="combobox">@await Html.PartialAsync("Culture_Partial", new { @class = "search-input" })</li>
                <li>

                    @if (User.IsInRole("Admin"))
                    {

                        <a style="font-size:15px" href="/login/login">
                            @localizer["Welcome"]: @User.Identity.Name
                        </a>
                        <a style="font-size:15px;" , asp-action="logout" asp-controller="Login">
                            @localizer["Logout"]
                        </a>
                    }
                    else
                    {
                    <li><a style="font-size:15px;" href="/login/login">@localizer["Log in"]</a></li>
                }
                    </li>

                </ul>
            </nav>
            <div class="menu">
                <ul>
                    <li><a href="/home/index">@localizer["Home"]</a></li>
                    <li><a href="/Video/DbView">@localizer["LiveArchive"]</a></li>
                    <li><a href="/MachineVision/MachineVision">@localizer["IntelligentAtlas"]</a></li>
                    <li><a href="/home/software">@localizer["Software"]</a></li>
                    <li><a href="/about/introduction">@localizer["About"]</a></li>
                    <li><a href="/credits/team_members">@localizer["Credits"]</a></li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

            </div>

        </b>









        <div id="content">
            @RenderBody()
        </div>

        <div style="clear:both; height: 2em;"> </div>

        <script>
            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".menu ul");

            const lg1 = document.querySelector(".lg1");
            hamburger.addEventListener("click", mobileMenu);

            function mobileMenu() {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
                lg1.classList.toggle("active");
            }
            const navLink = document.querySelectorAll(".menu ul li a");

            navLink.forEach(n => n.addEventListener("click", closeMenu));

            function closeMenu() {

                lg1.classList.toggle("active");
                hamburger.classList.remove("active");
                navMenu.classList.remove("active");
            }
        </script>


        @RenderSection("Scripts", required: false)
    </body>
</html>


