﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
@{
    ViewData["Title"] = "UploadLayout";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoPresentation</title>        


    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="css-selectorbg">

    <div style="width:100%;text-align:center">

        @if (User.IsInRole("Admin"))
        {


            <b>
                <nav class="menu1">
                    <ul>
                        <li><a href="/login/addUser">@localizer["AddUser"]</a></li>
                        <li><a href="/login/AllUsers">@localizer["ShowAllUsers"]</a></li>
                        <li><a href="/login/AddAuthor">@localizer["AddAuthor"]</a></li>
                        <li><a href="/login/AllAuthors">@localizer["ShowAllAuthors"]</a></li>
                        <li><a href="upload">@localizer["UploadVideo"]</a></li>

                    </ul>
                </nav>
            </b>
        }

    </div>


    <div id="content">
        @RenderBody()
    </div>

    <div style="clear:both; height: 2em;"> </div>

</body>
@RenderSection("Scripts", required: false)
</html>

