﻿
<!DOCTYPE html>
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoPresentation</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="css-selectorbg">

    <div style="width:100%;text-align:center">


      

    </div>


    <div id="content">
        @RenderBody()
    </div>

    <div style="clear:both; height: 2em;"> </div>

</body>
@RenderSection("Scripts", required: false)
</html>