﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="website-text">
    <h1>@localizer["Title"]</h1>
    <p>
        <b>@localizer["BText"]</b>
        <br /> @localizer["Text1"] - <a href="/Video/DbView">@localizer["LiveArchive"]</a>  @localizer["a"] <a href="/MachineVision/MachineVision">@localizer["IntelligentAtlas"]</a>@localizer["Text2"]
    </p>
</div>









