﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Software";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}


<div class="website-text">
    <p>
        @localizer["Text1"] <a href="https://github.com/">github.com</a>@localizer["Text2"]
    </p>
    <br />
    <br />
    <br />
    <p>
        @localizer["SoftwarePicture"] <a href="https://github.com/mediaArtLiveArchive/video">github.com/mediaArtLiveArchive/video</a>
    </p>
    <p>

        <h1 style="color:white">mediaArtLiveArchive – Video Tagging</h1>
    <p>This repository contains a console application used for video content tagging in videos.</p>
    <h2 id="download-the-console-application">Download the console application</h2>
    <a href="https://github.com/mediaArtLiveArchive/video">github.com/mediaArtLiveArchive/video</a>
    <h2 id="running-the-console-application">Running the console application</h2>
    <p>Example 1 – Tagging just one video</p>
<p class="breaking-words">python video_tagging.py --video_path &quot;path/to/video/video.mp4&quot;</p>
    <p>Example 2 – Tagging multiple videos in one folder</p>
<p class="breaking-words">python video_tagging.py --video_path &quot;path/to/videos&quot;</p>
    <h2 id="video_tagging.py-arguments">video_tagging.py arguments</h2>
    <table class="breaking-words">
        <thead>
            <tr>
                <th >argument</th>
                <th>description</th>
                <th>type</th>
                <th>default</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>--video_path</code></td>
                <td>path to video or folder with videos for tagging</td>
                <td>str</td>
                <td>&quot;C:/path/to/videos/&quot;</td>
            </tr>
            <tr>
                <td><code>--model_path</code></td>
                <td>path to trained video model</td>
                <td>str</td>
                <td>&quot;vasulka-video.h5&quot;</td>
            </tr>
            <tr>
                <td><code>--classes_path</code></td>
                <td>path to txt file with classes</td>
                <td>str</td>
                <td>&quot;classes.txt&quot;</td>
            </tr>
            <tr>
                <td><code>--output_path</code></td>
                <td>output path for predicitions</td>
                <td>str</td>
                <td>&quot;output/&quot;</td>
            </tr>
            <tr>
                <td><code>--cpu</code></td>
                <td>if True, tagging runs on CPU</td>
                <td>bool</td>
                <td>False</td>
            </tr>
            <tr>
                <td><code>--gpu_encode</code></td>
                <td>if True, video encoding runs on GPU</td>
                <td>bool</td>
                <td>False</td>
            </tr>
            <tr>
                <td><code>--video_bitrate</code></td>
                <td>final video bitrate, if 0 bit rate is set to source video height * 4.5</td>
                <td>str</td>
                <td>0</td>
            </tr>
            <tr>
                <td><code>--show_images</code></td>
                <td>if true, processed frames will be displayed</td>
                <td>bool</td>
                <td>False</td>
            </tr>
            <tr>
                <td><code>--save_video</code></td>
                <td>if True, annotations are rendered to video</td>
                <td>bool</td>
                <td>False</td>
            </tr>
            <tr>
                <td><code>--plot_predict</code></td>
                <td>if True, prediction plot is saved to image</td>
                <td>bool</td>
                <td>False</td>
            </tr>
            <tr>
                <td><code>--skip_videos</code></td>
                <td>skip selected videos in video_path</td>
                <td>str</td>
                <td>[]</td>
            </tr>
        </tbody>
    </table>
    <h2 id="the-pre-trained-model-on-vasulkas-database-can-be-downloaded-here">The pre trained model on Vasulka's database can be downloaded here:</h2>
    <ul>
        <li><a href="https://mediartlive.music.phil.muni.cz/vasulka-video.h5">vasulka-video.h5</a></li>
    </ul>
    <h3 id="the-model-allows-you-to-tag-these-categories">The model allows you to tag these categories:</h3>
    <table class="breaking-words">
        <thead>
            <tr>
                <th><strong>Tag name</strong></th>
                <th><strong>F1-score</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Body</td>
                <td>0.865</td>
            </tr>
            <tr>
                <td>Digit</td>
                <td>0.909</td>
            </tr>
            <tr>
                <td>Effect</td>
                <td>0.505</td>
            </tr>
            <tr>
                <td>Elementair</td>
                <td>0.712</td>
            </tr>
            <tr>
                <td>Elementearth</td>
                <td>0.661</td>
            </tr>
            <tr class="even">
                <td>Elementfire</td>
                <td>0.704</td>
            </tr>
            <tr class="odd">
                <td>Elementwater</td>
                <td>0.676</td>
            </tr>
            <tr>
                <td>Face</td>
                <td>0.910</td>
            </tr>
            <tr>
                <td>Imageprocessingkeying</td>
                <td>0.593</td>
            </tr>
            <tr>
                <td>Interior</td>
                <td>0.819</td>
            </tr>
            <tr>
                <td>Landscape</td>
                <td>0.769</td>
            </tr>
            <tr>
                <td>Letter</td>
                <td>0.923</td>
            </tr>
            <tr>
                <td>MachineTVset</td>
                <td>0.758</td>
            </tr>
            <tr>
                <td>Machinecar</td>
                <td>0.920</td>
            </tr>
            <tr>
                <td>Machinevisionfisheye</td>
                <td>0.894</td>
            </tr>
            <tr>
                <td>RuttEtravideosynthesizer</td>
                <td>0.571</td>
            </tr>
            <tr>
                <td>Steina</td>
                <td>0.340</td>
            </tr>
            <tr>
                <td>Violin</td>
                <td>0.535</td>
            </tr>
            <tr>
                <td>Woody</td>
                <td>0.942</td>
            </tr>
            <tr>
                <td>Stripes</td>
                <td>0.624</td>
            </tr>
        </tbody>
    </table>
    <h2 id="dependencies">Dependencies</h2>
<pre  class="breaking-words">tensorflow==2.3.1
moviepy==1.0.3
opencv_python==4.3.0.36
matplotlib==3.2.2
numpy==1.18.5</pre>

    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>
        @localizer["SoftwareAudio"] <a href="https://github.com/mediaArtLiveArchive/audio">github.com/mediaArtLiveArchive/audio</a>
    </p>
    <p>
        <h1 style="color:white">mediaArtLiveArchive – Audio Tagging</h1>
    <p>This repository contains a console application used for audio content tagging in videos.</p>
    <h2 id="download-the-console-application">Download the console application</h2>
    <a href="https://github.com/mediaArtLiveArchive/audio">github.com/mediaArtLiveArchive/audio</a>
    <h2 id="running-the-console-application">Running the console application</h2>
    <p>Example 1 – Tagging just one video</p>
<p class="breaking-words">python audio_tagging.py --video_path &quot;path/to/video/video.mp4&quot;</p>
    <p>Example 2 – Tagging multiple videos in one folder</p>
<p class="breaking-words">python audio_tagging.py --video_path &quot;path/to/videos&quot;</p>
    <h3 id="audio_tagging.py-arguments">audio_tagging.py arguments</h3>
    <table class="breaking-words">
        <thead>
            <tr class="header">
                <th>argument</th>
                <th>description</th>
                <th>type</th>
                <th>default</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td><code>--video_path</code></td>
                <td>path to video or videos for tagging</td>
                <td>str</td>
                <td>&quot;path/to/videos/&quot;</td>
            </tr>
            <tr class="even">
                <td><code>--model_path</code></td>
                <td>path to pre-trained audio tagging model</td>
                <td>str</td>
                <td>&quot;pretrained/vasulka-audio-3s.h5&quot;</td>
            </tr>
            <tr class="odd">
                <td><code>--tag_names</code></td>
                <td>tag names used by the model</td>
                <td>str</td>
                <td>&quot;pretrained/tag_names.txt&quot;</td>
            </tr>
            <tr class="even">
                <td><code>--output_path</code></td>
                <td>output path for predicitions</td>
                <td>str</td>
                <td>&quot;output/&quot;</td>
            </tr>
            <tr class="odd">
                <td><code>--cpu</code></td>
                <td>if True, tagging runs on CPU</td>
                <td>bool</td>
                <td>True</td>
            </tr>
            <tr class="even">
                <td><code>--gpu_encode</code></td>
                <td>if True, video encoding runs on GPU</td>
                <td>bool</td>
                <td>False</td>
            </tr>
            <tr class="odd">
                <td><code>--video_bitrate</code></td>
                <td>if 0, bitrate is set to video height*10|int|0| |<code>--save_video</code>|if True, annotations are rendered to video|bool|True| |<code>--plot_predict</code>|if True, prediction plot is saved to image|bool|True| |<code>--skip_videos</code>|skip selected videos in video_path|str|[]|</td>
            </tr>
        </tbody>
    </table>
    <h3 id="the-models-allows-you-to-tag-these-categories">The models allows you to tag these categories:</h3>
    <table class="breaking-words">
        <thead>
            <tr class="header">
                <th><strong>Tag name</strong></th>
                <th><strong>F1-score</strong> (3s)</th>
                <th><strong>F1-score</strong> (1s)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>Music</td>
                <td>0.871</td>
                <td>0.736</td>
            </tr>
            <tr class="even">
                <td>Music (electronic)</td>
                <td>0.717</td>
                <td>0.719</td>
            </tr>
            <tr class="odd">
                <td>Music (violin)</td>
                <td>0.973</td>
                <td>0.943</td>
            </tr>
            <tr class="even">
                <td>Noise</td>
                <td>0.733</td>
                <td>0.733</td>
            </tr>
            <tr class="odd">
                <td>Noise (air)</td>
                <td>0.980</td>
                <td>0.997</td>
            </tr>
            <tr class="even">
                <td>Noise (car)</td>
                <td>0.907</td>
                <td>0.799</td>
            </tr>
            <tr class="odd">
                <td>Noise (fire)</td>
                <td>0.931</td>
                <td>0.919</td>
            </tr>
            <tr class="even">
                <td>Noise (water)</td>
                <td>0.987</td>
                <td>0.973</td>
            </tr>
            <tr class="odd">
                <td>Speech</td>
                <td>0.919</td>
                <td>0.904</td>
            </tr>
        </tbody>
    </table>
    <h3 id="dependencies">Dependencies</h3>
<p class="breaking-words">tqdm==4.56.0
librosa==0.8.0
tensorflow_addons==0.11.2
moviepy==1.0.3
tensorflow==2.3.1
opencv_python==4.5.1.48
matplotlib==3.3.3
numpy==1.19.5
kapre==0.1.7</p>

    </p>
</div>









