﻿@model VideoPresentation.Models.UploadModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/UploadLayout.cshtml";
}




@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="upload-box">

        <tr>
            <td>
                @localizer["Title"]
            </td>
            <td>
                @Html.TextBoxFor(m => m.VideoTitle, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Author"]
            </td>

            <td>
                @Html.DropDownListFor(x => x.SelectedAuthor, new SelectList(Model.Authors, "AuthId", "Name"), new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
        <tr>
            <td>
                @localizer["Author"]
            </td>

            <td>
                @Html.DropDownListFor(x => x.SelectedCoAuthor, new SelectList(Model.Authors, "AuthId", "Name"), new { @class = "upload-input" })
            </td>

        </tr>
        <tr>
            <td>
                @localizer["CoAuthor"]
            </td>
            <td>
                @Html.TextBoxFor(m => m.AdditionalAuthor, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["VideoComment"] @localizer["cs"]
            </td>

            <td>
                @Html.TextAreaFor(m => m.VideoCommentCs, new { @class = "text-area-upload" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["VideoComment"] @localizer["en"]
            </td>

            <td>
                @Html.TextAreaFor(m => m.VideoCommentEn, new { @class = "text-area-upload" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["AuthorComment"] @localizer["cs"]
            </td>

            <td>
                @Html.TextAreaFor(m => m.AuthorCommentCs, new { @class = "text-area-upload" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["AuthorComment"] @localizer["en"]
            </td>

            <td>
                @Html.TextAreaFor(m => m.AuthorCommentEn, new { @class = "text-area-upload" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Year"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.Year, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["AdditionalYear"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.AdditionalYear, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Series"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.Series, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Prequel"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.PrequelCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Prequel"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.PrequelEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Citation"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.CitationCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Citation"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.CitationEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["ArtisticMedium"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.ArtisticMedium, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["TechnicalMedium"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.TechnicalMedium, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Performer"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.PerformerCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Performer"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.PerformerEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["VoicePerformer"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.VoicePerformerCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["VoicePerformer"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.VoicePerformerEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["ToolName"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.ToolName, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["ToolAuthor"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.ToolAuthor, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["ToolInfo"]
            </td>

            <td>
                @Html.TextAreaFor(m => m.ToolInfo, new { @class = "text-area-upload" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Annotation"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.AnnotationCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Annotation"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.AnnotationEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["AnnotationReference"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.AnnotationReferenceCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["AnnotationReference"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.AnnotationReferenceEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Sources"] @localizer["cs"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.SourcesCs, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["Sources"] @localizer["en"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.SourcesEn, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["MuniSource"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.MuniSource, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["VideoLength"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.VideoLength, new { @class = "upload-input" })
            </td>

        </tr>

        <tr>
            <td>
                @localizer["AdditionalVideoLength"]
            </td>

            <td>
                @Html.TextBoxFor(m => m.AdditionalVideoLength, new { @class = "upload-input" })
            </td>

        </tr>
        <tr>
            <td>
                @localizer["UploadVideo"]
            </td>
            <td>
                <input type="file" name="uploadFile" id="btnUpload" value="@localizer["UploadVideo"]" />
            </td>
        </tr>
        <tr>
            <td>
                @localizer["JsonFile"]
            </td>
            <td>
                <input type="file" name="uploadJson" id="btnUpload" value="@localizer["UploadJson"]" />
            </td>
        </tr>



        <tr>

            <td colspan="2" style="text-align:center">
                <input type="submit" value="@localizer["Upload"]" class="button-action button-action-submit" onclick="Uploading();" />
            </td>
        </tr>




    </table>

    <div class="load-message">
        <div class="loader">
            <h1>@localizer["Uploading"]</h1>
            <h2 class="loading">
            </h2>
        </div>
    </div>

    <script language="JavaScript">
        function Uploading() {
            document.getElementsByClassName("loader")[0].style.display = "block";
        }
    </script>











}













