﻿
@font-face {
    font-family: 'body';
    src: url('fonts/IBMPlexSans-Text.woff') format('woff');
}

@font-face {
    font-family: 'body';
    font-style: italic;
    src: url('fonts/IBMPlexSans-TextItalic.woff') format('woff');
}

@font-face {
    font-family: 'body';
    font-weight: 800;
    src: url('fonts/IBMPlexSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'mono';
    src: url('fonts/IBMPlexMono-Text-Latin1.woff') format('woff');
}

@font-face {
    font-family: 'symbols';
    src: url('fonts/Symbola.otf.ttf') format('otf');
}

body {
    BACKGROUND-COLOR: #444444;
    BACKGROUND-COLOR: #03dac6;
    FONT-FAMILY: body, Arial, Helvetica, sans-serif;
    COLOR: #ffffff;
}

pre, code {
    font-family: mono, monospace;
}

.symbols {
    font-family: symbols;
}


.bgwhite {
    BACKGROUND-COLOR: #c0c0c0;
    color: #444444;
}

.lg1 {
    letter-spacing: 0.4em;
    font-size: 4em;
    letter-spacing: 0.43em;
    display: flex;
    text-align: center;
    display: inline-flex;
}

.lg2 {
    font-size: 20px;
}

.lg2stretch {
    font-size: 1.2em;
    letter-spacing: 0.34em;
}

.lg2underline {
    border-bottom-width: 2px;
    padding-bottom: 3px;
    border-bottom-style: solid;
}

img.addright {
    margin-right: 3px;
}

img.addright2 {
    margin-right: 15px;
}

div.tag {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}

div.tagactive {
    width: 160px;
    height: 120px;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.tag {
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
    width: 70px;
    border-radius: 5px / 3px;
}

img.tagactive {
    -webkit-filter: inverse(1);
    filter: inverse(1);
    width: 70px;
    border-radius: 5px / 3px;
}

div.resultstitle {
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: 7px;
    text-align: center;
    width: 320px;
}

div.results {
    width: 280px;
    height: 220px;
    display: inline;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 20px solid #999;
    background: #999;
    border-radius: 10px / 6px;
    margin-bottom: 400px;
}

div.video-inline {
    display: inline;
}

div.resultsbox {
    max-width: 70%;
    margin-left: 20%;
    margin-top: 100px;
}

div.video-results-box {
    max-width: 80%;
    margin-left: 10%;
}
    div.video-results-box div {
        display: inline-block;
        margin: 50px;
        position: absolute;
        background: rgba(0,0,0,0.2);
        padding: 20px;
    }

    div.video-results-box video {
        width: 720px;
        height: 480px;
    }

div.video-results-box-chapters {
    max-width: 80%;
    margin-left: 10%;
}

    div.video-results-box-chapters video {
        width: 200px;
        height: 100px;
    }

div.video-square video {
    width: 280px;
    height: 220px;
}

img.resultstag {
    -webkit-filter: opacity(0.3) contrast(2);
    filter: opacity(0.3) contrast(2);
    width: 20px;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 3px;
    vertical-align: middle;
}


.css-selectorbg {
    background: linear-gradient(#989898, #7e7b7b, #606060, #424242, #bb3232, #32be39, #1e96e4, #989898);
    background-size: 100% 5000%;
    -webkit-animation: AnimationNamebg 60s ease infinite;
    -moz-animation: AnimationNamebg 60s ease infinite;
    -o-animation: AnimationNamebg 60s ease infinite;
    animation: AnimationNamebg 60s ease infinite;
}

@-webkit-keyframes AnimationNamebg {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 51% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@-moz-keyframes AnimationNamebg {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 51% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@-o-keyframes AnimationNamebg {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 51% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@keyframes AnimationNamebg {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 51% 100%
    }

    100% {
        background-position: 50% 0%
    }
}


a {
    text-decoration: none;
    color: white;
}

.menu {
    display: inline-flex;
    position: relative;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}


    .menu ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

        .menu ul li {
            padding: 6px 0;
            margin-right: 60px;
            text-align: center;
        }

            .menu ul li a {
                text-align: center;
                position: relative;
                display: inline-block;
                text-decoration: none;
                font-size: 25px;
                color: #ffffff;
                padding: 4px 0;
                transition: 0.0s;
            }

    .menu li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        top: 100%;
        background: #ff7000;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

    .menu li a:hover {
        color: #ffffff;
    }

        .menu li a:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }

    .menu ul li.active a {
        color: blue;
        text-decoration: underline;
    }

.search-menu {
    display: inline-flex;
    margin-right: 50px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    float: right;
    margin-left: 50%;
}


    .search-menu ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

        .search-menu ul li {
            padding-top: 15px;
            margin-left: 20px;
            text-align: center;
        }

            .search-menu ul li a {
                text-align: center;
                position: relative;
                display: inline-block;
                text-decoration: none;
                font-size: 25px;
                color: #ffffff;
                padding: 4px 0;
                transition: 0.0s;
            }

    .search-menu li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        top: 100%;
        background: #ff7000;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

    .search-menu li a:hover {
        color: #ffffff;
    }

        .search-menu li a:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }

    .search-menu ul li.active a {
        color: blue;
        text-decoration: underline;
    }



.menu1 {
    display: inline-flex;
    position: relative;
    max-width: 100%;
    text-align: center;
}

    .menu1 ul {
        text-align: center;
        display: flex;
        align-items: center;
        list-style-type: none;
    }

        .menu1 ul li {
            padding: 6px 0;
            margin-right: 60px;
            margin-top: -100px;
        }

            .menu1 ul li a {
                text-align: center;
                position: relative;
                display: inline-block;
                text-decoration: none;
                font-size: 18px;
                color: #ffffff;
                padding: 4px 0;
                transition: 0.0s;
            }

    .menu1 li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        top: 100%;
        background: #ff7000;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

    .menu1 li a:hover {
        color: #ffffff;
    }

        .menu1 li a:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }

    .menu1 ul li.active a {
        color: blue;
        text-decoration: underline;
    }

.video-title {
    text-align: left;
    font-size: 20px;
    color: white;
}

.video-frame {
    text-align: center;
}

.video-table {
    text-align: center;
    border: 20px solid transparent;
}


input [type=text] {
    height: 35px;
    border: solid 1px;
    width: 201px;
    background-color: pink;
}

.lang-menu {
    margin-left: 95%;
    display: inline-flex;
    position: relative;
    max-width: 100%;
    text-align: right;
}


    .lang-menu ul {
        display: flex;
        list-style-type: none;
        text-align: right;
    }

        .lang-menu ul li {
            padding: 6px 0;
            margin-right: 10px;
            font-size: 20px;
            text-align: right;
        }

            .lang-menu ul li a {
                position: relative;
                display: inline-block;
                text-decoration: none;
                color: #ffffff;
                padding: 4px 0;
                transition: 0.0s;
            }

    .lang-menu li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        top: 100%;
        background: #ff7000;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

    .lang-menu li a:hover {
        color: #ffffff;
    }

        .lang-menu li a:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }

    .lang-menu ul li.active a {
        color: blue;
        text-decoration: underline;
    }

.user-table {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

    .user-table td, th {
        border: 1px solid #FFFFFF;
        padding: 8px;
    }

    .user-table th.button {
        border: 1px solid #FFFFFF;
        padding: 8px;
        width: 15%;
    }

    .user-table tr:nth-child(even) {
        background-color: #c6c6c6;
    }

.button-action {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-action-submit {
    background-color: #80ff80;
    color: black;
}

    .button-action-submit:hover {
        background-color: #00cc00;
        color: white;
    }

.button-action-edit {
    background-color: #80b3ff;
    color: black;
}

    .button-action-edit:hover {
        background-color: #0066ff;
        color: white;
    }


.button-action-delete {
    background-color: #ff8080;
    color: black;
}

    .button-action-delete:hover {
        background-color: #ff0000;
        color: white;
    }

.find-button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.find-button-action {
    background-color: #d6d6c2;
    color: black;
}

    .find-button-action:hover {
        background-color: #808080;
        color: white;
    }
.tag-button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.tag-button-action {
    background-color: #d6d6c2;
    color: black;
}

.tag-button-action:hover {
    background-color: #808080;
    color: white;
}
.text-area-upload {
    height: 100px;
    width: 350px;
    background: rgba(0,0,0,0.3);
    border: 1px solid white;
    outline: none;
    color: white;
}

.login-formular {
    width: 300px;
    padding: 35px;
    position: absolute;
    margin-top: 20%;
    left: 50%;
    width: 300px;
    padding: 35px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.2);
    text-align: center;
}


    .login-formular input {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #b3b3b3;
        padding: 15px 10px;
        width: 250px;
        outline: none;
        color: white;
        transition: 0.25s;
    }

        .login-formular input:hover {
            width: 280px;
            border-color: #ff7000;
        }

.upload-box {
    margin-top: 5%;
    background: rgba(0,0,0,0.2);
    text-align: left;
    width: 50%;
    transform: translate(50%,0%);
    border-collapse: collapse;
}

    .upload-box td {
        border: 3px solid #adadad;
        padding: 10px;
    }

table.data-results {
    margin-top: 5%;
    margin-left: 10%;
    background: rgba(0,0,0,0.2);
    text-align: left;
    max-width: 80%;
    border-collapse: collapse;
}

    table.data-results td {
        padding: 10px;
        padding-bottom: 20px;
        vertical-align: top;
    }

.add-user-formular {
    width: 300px;
    padding: 35px;
    position: absolute;
    margin-top: 20%;
    left: 50%;
    width: 300px;
    padding: 35px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.2);
    text-align: center;
}

    .add-user-formular td {
        border: 0;
        background: none;
        display: block;
        text-align: center;
        width: 250px;
        outline: none;
        color: white;
        transition: 0.25s;
        padding: 5px 10px;
    }

form.chapter-pictures button p {
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 7px;
    text-align: center;
    font-variant: normal;
}

form.chapter-pictures button {
    background: rgba(0,0,0,0);
    display: inline-block;
    border: 0px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
}

div.website-text {
    margin: auto;
    padding: 50px;
    width: 60%;
    text-align: left;
    background: rgba(0,0,0,0.2);
}

    div.website-text h1 {
        color: #ff7000;
        text-align: center;
    }

    div.website-text a {
        color: #ff7000;
    }

    div.website-text table {
        text-align: left;
        border-collapse: collapse;
    }


table.team-members {
    text-align: left;
    width: 80%;
    margin: auto;
    table-layout: fixed;
    padding-left: 15%;
}

    table.team-members td {
        padding-top: 8px;
        padding-bottom: 8px;
    }

table.tag-table {
    border-collapse: collapse;
    max-width: 50%;
    display: inline-block;
}

    table.tag-table td, th {
        border: 1px solid white;
        text-align: left;
        padding: 8px;
    }

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.search-input {
    border: 0;
    background: rgba(0,0,0,0.2);
    text-align: center;
    border: 1px solid white;
    outline: none;
    color: white;
    width: 200px;
    height: 20px;
}

.combobox div form select {
    border: 0;
    background: rgba(0,0,0,0.2);
    text-align: center;
    outline: none;
    color: white;
    border-radius: 20px;
    height: 20px;
}

.upload-input {
    border: 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    border: 1px solid white;
    outline: none;
    color: white;
    width: 190px;
    height: 20px;
}

.intelligent-atlas {
    width: 100%;
    min-width: 2000px;
}

.loader {
    display: none;
    position: absolute;
    width: 100%;
    transform: translate(45%, 50%);
}
.loader1 {
    position: absolute;
    width: 100%;
    transform: translate(50%, 50%);
}

.load-message div h1 {
    display: inline-block;
    display: inline-block;
    margin-right: 20px;
    color: #ff7000;
}


.load-message div h2 {
    display: inline-block;
    position: fixed;
    top: 8px;
}

.loading {
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid #ff7000;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.tags-buttons {
    position: relative;
    display: inline-block;
    margin-left: 20%;
    padding: 5px;
    margin-right: 20%;
}
.tags-buttons div{
    display: inline-block;
}
    .tags-buttons div button a {
        color:black;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.tag-text {
    margin-left = 80%;
}

@media only screen and (max-width: 768px) {

    .menu {
        background-color: rgba(0,0,0,0);
        padding: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: -240px;
    }

        .menu ul {
            padding: 0;
            margin-bottom: 200px;
            box-sizing: border-box;
            position: absolute;
            top: -600px;
            flex-direction: column;
            background-color: #ff7000;
            width: 100%;
            text-align: center;
            transition: 0.5s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        }

            .menu ul.active {
                left: 0;
                background-color: #ff7000;
                position: fixed;
                width: 106%;
                margin-left: -11px;
                top: -20px;
            }


            .menu ul li {
                margin: auto;
            }

                .menu ul li a {
                    font-size: 15px;
                    color: black;
                }

        .menu li a::after {
            background-color: white;
        }


    .hamburger {
        position: fixed;
        display: block;
        background-color: #ff7000;
        width: 110%;
        cursor: pointer;
        margin-left: -9px;
        top: 0px;
    }



        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
            background-color: rgba(0,0,0,0);
            position: fixed;
            top: 0px;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
            position: fixed;
            top: 0px;
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
            position: fixed;
            top: 16px;
        }

    .lg1 {
        font-size: 30px;
        margin-top: 30px;
    }

        .lg1.active {
            transition: transform 0.5s;
            margin-top: 222px;
        }

    .search-menu ul li {
        margin-left: 5px;
    }

    .search-menu {
        margin-right: 0px;
        margin-left: 0px;
    }

    .search-input {
        width: 60%;
        margin-left: -40%;
    }

    .find-button {
        width: 35px;
        height: 20px;
        padding: 0;
        font-size: 11px;
    }

    div.website-text {
        text-align: left;
        font-size: 15px;
        padding: 15px;
        width: 80%;
        word-wrap: break-word;
    }

        div.website-text h1 {
            font-size: 25px;
        }

    table.breaking-words {
        max-width: 100%;
        word-break: break-all;
        border: 1px solid white;
        text-align: left;
        border-collapse: collapse;
    }

        table.breaking-words th, td {
            border: 1px solid white;
        }

    p.breaking-words {
        max-width: 100%;
        word-break: break-all;
    }

    div.video-square video {
        width: 210px;
        height: 165px;
    }


    div.resultsbox {
        width: 90%;
        margin-left: 5%;
    }

        div.resultsbox form {
            font-size: 15px;
        }

    div.video-results-box video {
        width: 110%;
        margin-left: -5%;
        height: 0%;
    }

    div .video-results-box-chapters video {
        width: 100px;
        height: 75px;
    }

    table.data-results {
        margin-left: 0%;
        max-width: 100%;
    }

    table.team-members th, td {
        border: none;
    }

    .menu1 ul {
        text-align: center;
        display: block;
        align-items: center;
        list-style-type: none;
    }

        .menu1 ul li {
            padding: 3px;
            margin-top: 0px;
        }

    .menu ul li a {
        font-size: 15px;
    }

    .add-user-formular {
        top: 600px;
    }

    .login-formular {
        top: 500px;
    }

    .upload-box {
        margin-left: 0%;
        transform: translate(0%,0%)
    }

    .intelligent-atlas {
        min-width: 300px;
    }
    /*Konec dokumentu/////////////////////////*/
}
